/** @format */

.logout {
  background-color: indianred;
  color: white;
  padding: 2px 10px;
  border-radius: 10px;
  margin-top: 4px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  cursor: pointer;
}

.btn{
    position: relative;
    z-index: 2;
}

.show {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.4s ease;
}

.hide {
  opacity: 0;
  transform: translateY(-30px);
  transition: all 0.4s ease;
}
